.container
  .col-sm-6.col-sm-offset-3
    .jumbotron
      h1 Welcome
      p Sign in to the queue manager for your event by entering the event code and the secret to the event.
      form(ng-submit="authenticate()")
        .form-group
          label(for="txtEventId") Event ID
          input#txtEventId.form-control(type="text", ng-model="eventId")
        .form-group
          label(for="txtSecret") Secret
          input#txtSecret.form-control(type="password", ng-model="secret")
        button.btn.btn-lg.btn-default(ng-show="isLoading", disabled) Signing In...
        button.btn.btn-lg.btn-default(ng-hide="isLoading", type="submit") Sign In
