.container
  .col-md-12
    .jumbotron
      h1 Welcome
      p Sign in to the queue manager for your event by entering the event code and the secret to the event.
      form
        .form-group
          label(for="txtEventCode")
          input#txtEventCode.form-control(type="text", ng-model="eventCode")
        .form-group
          label(for="txtSecret")
          input#txtSecret.form-control(type="password", ng-model="secret")
        button.btn.btn-lg.btn-default Sign In
