.container-fluid
  .col-sm-9
    h1 {{event.eventName}}
    group-list
  .col-sm-3
    h1(ng-click="loadEvent()", style="cursor:pointer;")
      | Code&nbsp;&nbsp;
      code {{event.eventCode}}
    p
      | The current waiting time from the end of the queue is approximately&nbsp;
      code {{Math.ceil(event.averageWaitingTime / 60)}} mins
      | .
    p
      span(ng-show="event.maxPeoplePerGroup == event.minPeoplePerGroup")
        | Groups going in must have {{event.maxPeoplePerGroup}} people.
      span(ng-show="event.maxPeoplePerGroup > event.minPeoplePerGroup")
        | Groups going in must have between {{event.minPeoplePerGroup}} and {{event.maxPeoplePerGroup}} people (incl.).
    h4 Tickets without Groups
    p These are the tickets that have yet to join a group. They will be matched to a group shortly.
    ticket-list
