.container-fluid
  .col-md-12
    h1 {{event.eventName}}
  .col-md-12
    group-list
  .col-md-12
    h4 Tickets without Groups
    p These are the tickets that have yet to join a group. They will be matched to a group shortly.
    ticket-list
