table.table.table-hover
  tr
    th Group Number
    th # of People
    th Tickets
    th Duration in Queue
    th Actions
  tr(ng-repeat="group in groups", ng-hide="isLoading")
    td
      span {{group.groupId}}
    td
      span {{group.totalNoOfPeople}}
    td
      div(ng-repeat="ticket in group.tickets", style="margin-bottom:5px;")
        span: b Ticket \#{{ticket.ticketId}}
        br
        span {{ticket.user.name}}, {{ticket.noOfPeople}} people
        br
        span(am-time-ago="ticket.datetimeRequested")
    td
      span(am-time-ago="group.datetimeFormed")
    td
      button.btn.btn-default(ng-click="callGroup(group)") Call
