table.table.table-striped
  tr
    th Group
    th People
    th Tickets
    th Duration in Queue
    th Actions
  tr(ng-repeat="group in groups", ng-hide="isLoading")
    td
      span {{group.groupId}}
    td
      span {{group.totalNoOfPeople}}
    td
      div.panel.panel-default(ng-repeat="ticket in group.tickets", style="margin-bottom:5px;")
        .panel-body
          span
            b Ticket \#{{ticket.ticketId}}
            | &nbsp;{{ticket.user.name}}, {{ticket.noOfPeople}} {{ticket.noOfPeople == 1 ? 'person':'people'}}
        .panel-footer
          .pull-right
            small: span(am-time-ago="ticket.datetimeRequested")
          button.btn.btn-default.btn-xs(ng-click="revokeTicket(group, ticket)") Remove
    td
      span(am-time-ago="group.datetimeFormed")
    td
      button.btn.btn-default.btn-sm(ng-hide="group.isPresent", ng-click="callGroup(group)") Call
      | &nbsp;
      button.btn.btn-default.btn-sm(ng-hide="group.isPresent", ng-click="markGroupPresent(group)") Mark Present
      | &nbsp;
      button.btn.btn-default.btn-sm.ng-cloak(ng-show="group.isPresent", ng-click="startGroup(group)") Start Group
.list-empty-message(ng-show="groups.length == 0")
  p.lead There are currently no groups in the queue.
