table.table.table-striped
  tr
    th Group
    th People
    th Tickets
    th Duration in Queue
    th Actions
  tr(ng-repeat="group in groups")
    td
      span {{group.groupId}}
    td
      span {{group.totalNoOfPeople}}
    td
      div.panel.panel-default(ng-repeat="ticket in group.tickets", style="margin-bottom:5px;")
        .panel-body
          span
            b Ticket \#{{ticket.ticketId}}
            | &nbsp;{{ticket.user.name}}, {{ticket.noOfPeople}} {{ticket.noOfPeople == 1 ? 'person':'people'}}
        .panel-footer(ng-hide="group.isPresent")
          .pull-right
            small: span(am-time-ago="ticket.datetimeRequested")
          button.btn.btn-default.btn-xs(ng-click="revokeTicket(group, ticket)", ng-disabled="isRevokeTicketLoading") Remove
    td
      span(am-time-ago="group.datetimeFormed")
    td
      button.btn.btn-default.btn-sm.ng-cloak(ng-show="group.isPresent", ng-click="startGroup(group)", ng-disabled="isStartGroupLoading") Start Group
      button.btn.btn-default.btn-sm(ng-hide="group.isPresent", ng-click="callGroup(group)", ng-disabled="isCallGroupLoading") Call
      | &nbsp;
      button.btn.btn-default.btn-sm(ng-hide="group.isPresent", ng-click="markGroupPresent(group)", ng-disabled="isMarkPresentLoading") Mark Present
      div(ng-hide="group.isPresent")
        span(ng-show="group.callCount > 1") Called {{group.callCount}} times
        span(ng-show="group.callCount == 1") Called once
        span(ng-show="group.callCount == 0") Not called yet
        div.ng-cloak(ng-show="group.datetimeLastCalled")
          small Last called&nbsp;
          small(am-time-ago="group.datetimeLastCalled")

.list-empty-message(ng-show="groups.length == 0")
  p.lead There are currently no groups in the queue.
